:root {
  --font-sans: "Manrope", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-size-sans: 14px;
  --font-size-mono: 14px;
  --font-weight-sans: 400;
  --font-weight-mono: 700;
  --font-style-sans: normal;
  --font-style-mono: normal;
  --font-variation-sans: 'wght' 400;
  --font-variation-mono: normal;
}

* {
  font-family: var(--font-sans);
  font-size: var(--font-size-sans);
  font-weight: var(--font-weight-sans);
  font-style: var(--font-style-sans);
  font-variation-settings: var(--font-variation-sans);
}

.title-label {
  font-family: var(--font-sans);
  font-size: var(--font-size-sans);
  font-weight: 700;
  font-style: var(--font-style-sans);
  font-variation-settings: 'wght' 700;
}

.topbar-pill,
.clock-label,
.modal-title,
.brutalist-btn,
.radio-btn,
.section-title,
.collapsible-title,
.slider-hint,
.clock-time,
.accent-slider-val,
.slider-val,
.theme-nav-item,
.category-section-title,
.font-section-label,
.step-btn,
.step-value-label,
dropdown.brutalist-dropdown > button,
dropdown.brutalist-dropdown popover listview row {
  font-family: var(--font-mono);
  font-size: var(--font-size-mono);
  font-weight: var(--font-weight-mono);
  font-style: var(--font-style-mono);
  font-variation-settings: var(--font-variation-mono);
}
